.feed_inputOptions{
    display: flex;
    justify-content: space-around;
    /* background-color: aquamarine; */
}

.feed_inputContainer{
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.feed{
    margin: 0 20px;
    flex: 0.6;
}

.feed_input {
    display: flex;
    color: grey;
    border-radius: 30px;
    /* padding-left: 25px; */
    background-color: blueviolet;
}

.feed_input> form{
    display: flex;
    width: 100%;
}

.feed_input >form > input{
    border-radius: 10px;
    border: 1px solid lightgray;
    flex: 1;
    /* background-color: aqua; */
}