.header{
    background-color:white;
    height: 50px;
    display: flex;
    top:0px;
    position: sticky;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 0.1px solid lightgray;
    padding: 10px 0;
    z-index: 999;
}

.header__left {
    display: flex;
}

.header__search {
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: grey;
    background-color: #eef3f8;
    height: 22px;
    padding: 10px;
}

.header__right {
    display: flex;
}

.header__search > input {
    border: none;
    outline: none;
    background: none;
}

.header__search > img {
    margin-right:10px;
    height: 40px;
    object-fit: contain;
}